<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Add Employee</h1>
    <form th:action="@{/nhanvien/add}" th:object="${nhanvien}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="Ma_NV" class="form-label">Ma NV</label>
            <input type="text" class="form-control" id="Ma_NV" th:field="*{Ma_NV}">
        </div>
        <div class="mb-3">
            <label for="Ten_NV" class="form-label">Ten NV</label>
            <input type="text" class="form-control" id="Ten_NV" th:field="*{Ten_NV}">
        </div>
        <div class="mb-3">
            <label for="Phai" class="form-label">Phai</label>
            <input type="text" class="form-control" id="Phai" th:field="*{Phai}">
        </div>
        <div class="mb-3">
            <label for="Noi_Sinh" class="form-label">Noi Sinh</label>
            <input type="text" class="form-control" id="Noi_Sinh" th:field="*{Noi_Sinh}">
        </div>
        <div class="mb-3">
            <label for="Ma_Phong" class="form-label">Ten Phong</label>
            <select class="form-control" id="Ma_Phong" th:field="*{Ma_Phong.Ma_Phong}">
                <option th:each="phongBan : ${phongbans}" th:text="${phongBan.Ten_Phong}" th:value="${phongBan.Ma_Phong}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="Luong" class="form-label">Luong</label>
            <input type="number" class="form-control" id="Luong" th:field="*{Luong}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{/nhanvien}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
